<ion-view view-title="经销商库存表">
    <ion-content>
        <ul class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="viewState.searchText.VinCode8" placeholder="简码索引">
                </label>
                <button class="button button-small" ng-click="viewState.searchText='';">清除</button>
            </div>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="viewState.isAllVinCode == true" ng-model="viewState.isAllVinCode" ng-change="isAllVinCodeChange(viewState.isAllVinCode)">
                </label>
                显示所有VIN号码
            </li>
            <div class="item item-divider row">
                <div class="col col-10" style="text-align:center">#</div>
                <div class="col col-33" style="text-align:center">简码</div>
                <div class="col" style="text-align:center">VIN号码</div>
            </div>
            <li class="item row" ng-style="item.Style" ng-repeat="item in vinCodeList | filter:viewState.searchText" ng-click="itemClick(item,$event)">
                <div class="col col-10" style="text-align: center; line-height: 31px;">{{$index+1}}</div>
                <div class="col col-33" style="text-align:center;line-height: 31px;">{{item.VinCode8}}</div>
                <div class="col" style="text-align:center;line-height: 31px;">{{item.VinCode}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>
